header {
  background-color: rgba(20, 88, 97, 1);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 1.5rem;

  img {
    height: 2.8rem;
  }
}
