header {
  height: 8.6vh;
  background-color: rgba(20, 88, 97, 1);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 0.6rem;
  align-items: center;
  padding-left: 6rem;
  padding-right: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  img {
    height: 2.8rem;
  }
}
